/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
	font-family: 'Open Sans', sans-serif !important;
	background: #0e293c !important;
}

#container {
	background: #0e293c !important;
	width: 100% !important;
}

#logo {
	display: none !important;
}

form {
	padding-top: 8px !important;
	margin: 0px !important;
}

form h2 {
	color: white !important;
}

input,
textarea {
	border-radius: 4px 4px 0 0 !important;
	line-height: 20px !important;
	padding: 8px !important;
	min-width: 0 !important;
	max-height: 32px !important;
	border-width: 1px !important;
	font-family: 'Open Sans', sans-serif !important;
}

textarea {
	max-height: 120px !important;
	height: 120px !important;
}

select {
	border-radius: 4px 4px 0 0 !important;
	line-height: 20px !important;
	padding: 8px !important;
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	height: 40px !important;
}

label,
.desc,
label.desc,
.wufoo label.desc {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 12px !important;
	color: #718096 !important;
	font-weight: normal !important;
	order: 2 !important;
	padding-left: 8px !important;
}

option {
	font-family: 'Open Sans', sans-serif !important;
}

form li {
	display: flex !important;
	flex-direction: column !important;
}

::placeholder {
	color: #718096 !important;
	font-size: 16px !important;
}

input[type='radio'] {
	color: white !important;
	margin-bottom: 4px !important;
}

input[type='radio'] > label > span,
.choice__text {
	color: white !important;
}

.d-flex {
	display: flex !important;
	flex-direction: row !important;
}

.wufoo li.focused,
form li.focused {
	background-color: transparent !important;
}

.width-30,
.small {
	width: 30% !important;
}

.width-50,
.medium {
	width: 50% !important;
}

.width-100,
.large {
	width: 95% !important;
}

#header {
	display: none !important;
}

.req {
	display: none !important;
}

.wufoo legend.desc {
	color: white !important;
}
